<mat-list>
<mat-list-item *ngFor="let item of list">
    <td>
        <ul>
            <label>{{item.name}}</label>
            <label>{{item.quantity}}</label>
        </ul>
        <!-- <button pButton type="button" class="ui-button-success" iconPos="left" (click)="addGroceryItem(item.item, input)">Add</button>
        <button pButton type="button" class="ui-button-danger" iconPos="right" (click)="removeGroceryItem(item.item, input)">Remove</button> -->
        <button (click)="addGroceryItem(item.item, input)">Add</button>
        <button (click)="removeGroceryItem(item.item, input)">Remove</button>
    </td>
</mat-list-item>
</mat-list>