<div>
    <clr-dg-row>
        <clr-dg-cell>{{item.name}}</clr-dg-cell>
        <clr-dg-cell>{{item.quantity}}</clr-dg-cell>
        <clr-dg-cell>
            <input type="text" [(ngModel)]="quantity" placeholder="Quantity" />
            <button (click)="addGroceryItem(item.name)">
                <clr-icon shape="plus"></clr-icon>
            </button>
            <button (click)="removeGroceryItem(item.name)">
                <clr-icon shape="trash"></clr-icon>
            </button>
        </clr-dg-cell>
    </clr-dg-row>
</div>