<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<div>
  <span>
    <label>Enter Grocery Item: {{newItem.name}}</label>
    <!-- <input type='text' [value]="inputName" (input)="inputName = $event.target.value"/> -->
    <input [(ngModel)]="inputName" />
  </span>
  <span>
    <label>Enter Item Quantity: {{newItem.quantity}}</label>
    <!-- can be done this way too -->
    <!-- <input type='text' pInputText [value]="inputQuantity" (input)="inputQuantity = $event.target.value" /> -->
    <input type='text' [(ngModel)]="inputQuantity" />
    <!-- <input type='text' pInputText [(ngModel)]="inputQuantity" /> -->
  </span>
  <!-- <button pButton type="button" label="Create Item" (click)="insertGroceryItem(inputName, inputQuantity)"></button> -->
  <button type="button" (click)="insertGroceryItem(inputName, inputQuantity)">Create Item</button>
    <item-component [list]="groceryList | async"></item-component>
</div>
