<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<div>
  <form>
    <span>
      <label>Enter Grocery Item: </label>
      <input type='text'>
    </span>
    <span>
      <label>Enter Item Quantity: </label>
      <input type='text'>
    </span>
    <span>
      <input type="radio" name="action" value="insert">
      <input type="radio" name="action" value="delete">
    </span>
    <button onclick="submit()">Enter</button>
  </form>
  <div *ngFor="item in itemList">
    <item-component></item-component>
  </div>
</div>
